@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    background-color: #0e8225;
    font-family: "Shantell Sans", cursive;
    text-align: center;
}
a{
    font-size: 19px;
    display: inline-block;
    text-decoration: none;
    background-color: #0a0404;
    padding: 15px;
    border-radius: 15px;
    color: #ffffff;

}
a:hover{
    background-color: #0a0404;
    color: #ffffff;
    padding: 14px;
}

input{
    padding: 15px;
    border-radius: 15px;
}
input:focus{
    border: 2px solid #ffffff;
    outline: none;
}