{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/kebab.css' %}">
    <meta charset="UTF-8">
    <title>Anubis</title>
</head>
<body>
    <header>
        <nav>
            <ul>

                <li><a href="http://127.0.0.1:8000">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="http://127.0.0.1:8000/portfolio/">PORTFOLIO</a></li>
                <li><a href="">CONTACT</a></li>
                <li><input type="search" placeholder="search🔍"></li>
            </ul>
        </nav>
    </header>
{% block ak47 %} {% endblock ak47 %}
</body>
</html>