{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bylka.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fame boy</title>
</head>
<body>
<!--<h1>С Новым годом!</h1>-->
<!--    <canvas id="snow"></canvas>-->
<!--    <script src="{% static 'js/kek.js' %}"></script>-->



</body>
</html>

<!--Посмотреть в интернете видосы по типу "Джаваскрипт за час", найти топовый по просмотрам-->
<!--Повторить всё/почти всё за автором)-->