{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/kebab.css' %}">
    <meta charset="UTF-8">
    <title>gold free</title>
</head>
<body>
    {%for ben in projects%}
        <div class="block">
            <img src="{{ben.ImageProjects.url}}" alt="" >
            <div class="hidden-text">{{ben.NamesProjects}}</div>
        </div>
    {% endfor %}
</body>
</html>

<!--python manage.py runserver 0.0.0.0:8000-->
<!--http://192.168.0.28:8000/-->

<!--1. Узнать в чём разница между гпб и ргба-->
<!--2. К классу див хидден-текст применить бэкграунд-колор ргба (сделать слегка чёрным полупрозрачным)-->
<!-- - Посмотреть результат и оставить, даже если не понравится :)) потом уберём-->
<!--3. Загуглить: как поставить иконку на сайте в джанго.-->
<!-- - Найти какую-то иконку (любой логотип) и поставить его на страничке ;)-->
































































































