{% extends 'lockdown.html'%}
{% load static %}
{% block ak47 %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/kek.js' %}"></script>

    <div class="salam">
    {%for ben in projects%}
        <a href="{{ben.LinkProjects}}"></a>
        <div class="block">
                <img src="{{ben.ImageProjects.url}}" alt="">
            <div class="hidden-text">{{ben.NamesProjects}}</div>
        </div>
    {% endfor %}
    </div>
{% endblock ak47 %}



































































































