<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gold free</title>
</head>
<body>
{%for ben in projects%}
    <p>{{ben.NamesProjects}}</p>
    <p>{{ben.DescriptionProjects}}</p>
    <p>{{ben.LinkProjects}}</p>
    <p>{{ben.SourceProjects}}</p>
    <p>{{ben.ImageProjects.url}}</p>
<img src="{{ben.ImageProjects.url}}" alt="" style="width: 30%;">
{% endfor %}

</body>
</html>






































































































